@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .form_container form {
    flex-wrap: wrap;
  }

  .popular_tours_container .popular_tours_image img {
    width: 350px;
  }

  .place_to_get_lost_image img {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .banner_content {
    padding: 20px;
  }

  .banner_content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
  }

  .banner_content p {
    max-width: 600px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0 0 0;
  }

  .form_container form {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form_container .find_now_btn {
    width: 100%;
  }

  .popular_tours_container {
    flex-direction: column;
  }

  .popular_tours_container .popular_tours_image img {
    width: 100%;
  }

  .destination_image_container img {
    width: 100%;
  }

  .discounts_card {
    align-items: end;
    justify-content: center;
  }

  .discounts_card_details {
    margin: 10px;
    padding: 20px;
  }

  .time_and_location {
    flex-wrap: wrap;
    gap: 15px;
  }

  .place_to_get_lost_container {
    flex-direction: column;
    padding: 0 20px;
  }

  .place_to_get_lost_container img {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .navbar ul {
    display: none;
  }

  .banner_content h2 {
    font-size: 22px;
  }

  .banner_content p {
    font-size: 14px;
    line-height: 21px;
  }

  .form_container form {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form_container .find_now_btn {
    width: 100%;
  }

  .section_header {
    font-size: 24px;
  }

  .popular_tours_content h2 {
    font-size: 24px;
  }

  .popular_tours_content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .popular_tours_content ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
