@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .form_container form {
    flex-wrap: wrap;
  }

  .popular_tours_container .popular_tours_image img {
    width: 350px;
  }

  .place_to_get_lost_image img {
    width: 350px;
  }

  .newsletter_image img {
    width: 400px;
  }

  .save_up_to {
    padding: 20px;
    right: 20%;
    bottom: 30%;
  }
}

@media screen and (max-width: 768px) {
  .mobile_menu i {
    font-size: 26px;
  }

  .navbar ul {
    display: none;
  }

  .mobile_menu {
    display: block;
  }

  .banner_content {
    padding: 20px;
  }

  .banner_content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
  }

  .banner_content p {
    max-width: 600px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0 0 0;
  }

  .form_container form {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form_container form input {
    width: 100%;
  }

  .form_container .find_now_btn {
    width: 100%;
  }

  .popular_tours_container {
    flex-direction: column;
  }

  .popular_tours_container .popular_tours_image img {
    width: 100%;
  }

  .destination_image_container img {
    width: 100%;
  }

  .discounts_card {
    align-items: end;
    justify-content: center;
  }

  .discounts_card_details {
    margin: 10px;
    padding: 20px;
  }

  .time_and_location {
    flex-wrap: wrap;
    gap: 15px;
  }

  .place_to_get_lost_container {
    flex-direction: column;
    padding: 0 20px;
  }

  .place_to_get_lost_container img {
    width: 100%;
  }

  .newsletter_container {
    flex-direction: column;
  }

  .newsletter_image img {
    width: 100%;
  }

  .save_up_to {
    padding: 20px 50px;
    bottom: 25%;
    right: 8%;
  }

  .save_up_to h2 {
    font-size: 21px;
  }

  .save_up_to h5 {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .header {
    padding: 40px 10px 0 10px;
  }

  .why_choose_us {
    padding: 10px;
  }

  .place_to_get_lost {
    padding: 10px;
  }

  .popular_tours {
    padding: 10px;
  }

  .logo h1 {
    color: #131318;
    font-size: 22px;
    font-weight: 800;
  }

  .logo h1 span {
    color: #ff5400;
    font-size: 22px;
    font-weight: 800;
  }

  .banner_content h2 {
    font-size: 22px;
  }

  .banner_content p {
    font-size: 14px;
    line-height: 21px;
  }

  .form_container form {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form_container form input {
    width: 100%;
  }

  .form_container .find_now_btn {
    width: 100%;
  }

  .section_header {
    font-size: 24px;
  }

  .popular_tours_content h2 {
    font-size: 24px;
  }

  .popular_tours_content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .popular_tours_content ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .destination_image_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallary_image_1 {
    grid-column: auto;
  }
  .gallary_image_2 {
    grid-column: auto;
  }
  .gallary_image_3 {
    grid-column: auto;
  }
  .gallary_image_4 {
    grid-column: auto;
  }
  .gallary_image_5 {
    grid-column: auto;
  }
  .gallary_image_6 {
    grid-column: auto;
  }
  .gallary_image_7 {
    grid-column: auto;
  }

  .gallary_image_1::after {
    font-size: 20px;
  }
  .gallary_image_2::after {
    font-size: 20px;
  }
  .gallary_image_3::after {
    font-size: 20px;
  }
  .gallary_image_4::after {
    font-size: 20px;
  }
  .gallary_image_5::after {
    font-size: 20px;
  }
  .gallary_image_6::after {
    font-size: 20px;
  }
  .gallary_image_7::after {
    font-size: 20px;
  }

  .place_to_get_lost_content h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .place_to_get_lost_content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .place_to_get_lost_content ul li {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .newsletter_form {
    padding: 5px;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer_container p {
    font-size: 14px;
  }
}
